@import url('./article.css');
@import url('./aside.css');

main {
	display: grid;
	grid-template-columns: 3fr 10fr 3fr;

	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	opacity: 1;
}

